/* @theme hayakawalab */

@import "gaia";

:root {
	--color-background: white;
	--color-foreground: black;
	--color-text: #595959;
}

section {
	position: relative;
	font-family: "Arial", "Meiryo", "sans-serif";
  color: var(--color-text);
}

/* ページ番号 */
section::after {
	content: attr(data-marpit-pagination)" / "attr(data-marpit-pagination-total);
	font-size: 70%;
}

/* 日付 */
header {
	width: 100%;
	position: absolute;
	top: unset;
	bottom: 0px;
	left: 0;
	font-size: 70%;
}

/* 中央下 */
footer {
	text-align: center;
	font-size: 70%;
}

/* ソースコード */
code {
  font-family: "Consolas", monospace;
}

/* リスト */
ul ul {
  font-size: 0.9em;
}

/* 引用 */
blockquote {
  position: relative;
  padding: 10px 15px 10px 30px;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 8px solid #9dd4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
}
blockquote::before {
  content: "";
}
blockquote::after {
  content: "";
}

/* 見出し */
h1 {
  color: black;
}
h2 {
  color: var(--color-text);
}
h3 {
  color: var(--color-text);
}
h4 {
  color: var(--color-text);
}
h5 {
  color: var(--color-text);
}
h6 {
  color: var(--color-text);
}
